input{
  background-image: url("assets/search-solid.svg");
  background-repeat: no-repeat;
  padding:  5px 5px 5px 60px;
  width: 65%;
  font: 16px Titillium Web;
  display: block;
  margin: 2% auto;
}
